.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app {
  text-align: center;
  background-color: #282c34;
  color: white;
}

img {
  border: 5px solid white;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  display: flex;
}

.gallery-cell {
  display: block;
  text-align: center;
  width: 66%;
  margin-right: 10px;
}