body {
  background-color: #282c34;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app {
  text-align: center;
  color: white;
}

img {
  border: 5px solid white;
  height: 500px;
  width: 350px;
}

header > img {
  width: 100%;
}

* { box-sizing: border-box; }

.carousel {
  display: flex;
}

.carousel-cell {
  text-align: center;
  width: 80%;
  margin: 50px;
  border: 5px solid white;

}

.carousel-cell img {
  display: block;
  height: 350px;

} 

@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 800px;
    width: 350px;
  }
}